/* User support button */
#user-support-button {
	position: fixed;
    
	background: #60B8F7;
	border: 1px solid rgba(0, 0, 0, 0.2);
	
	font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    
    z-index: 10000;
}

#user-support-button a {
	padding: 8px 4px;
	color: white;
	text-decoration: none;
	display: block;
	width: 16px;
	text-align: center;
	text-transform: uppercase;
}

#user-support-button:hover {
	background: #4787B8;
}

#user-support-button .elgg-icon {
	margin: 0;
	padding: 5px 0 0;
	color: white;
}

#user-support-button .user-support-button-help-center.elgg-state-active .elgg-icon {
	color: #D63006;
}

#user-support-button.position-horizontal-left {
	left: 0;
	border-radius: 0 3px 3px 0;
}

#user-support-button.position-horizontal-right {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* Help Center */
.user-support-help-center-popup {
	width: 650px;
	margin: 0px;
}

#user_support_help_center_help {
	max-height: 250px;
	overflow-x: hidden;
}
